html, body {
  height: 100%;
  overflow: hidden
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: lighter;
}

button {
  font-family: 'Roboto', sans-serif;
  width: 90px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  border: 0;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uppercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 4px solid #c9c9c9;
}

.lowercontainer {
  margin-top: 30px;
  height: 100vh;
}

th, td {
  font-size: 20px;
  width: 30vh;
  text-align: left;
  border-bottom: 1px solid #c9c9c9;
  padding: 5px;
  word-wrap: break-word;
}

.table {
  border-collapse: separate;
  border-spacing: 0px;
  table-layout: fixed;
}

.form-popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container {
  display: flex;
  gap: 60px;
  font-size: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=number] {
  height: 20px;
  font-size: 15px;
}

.submitbutton {
  align-self: flex-end;
  background-color: #87afaf;
}

.readbookbutton {
  background-color: #f7f7f7;
  border: 1px solid #c9c9c9;
}

.deletebookbutton {
  background-color: #d75f5f;
}

#readstatusmenu {
height: 26px;
font-size: 15px;
}
